# iCESugar v1.5 onboard 12 MHz clock
# set_io clk 35

# set_io a[0] 45
# set_io a[1] 43
# set_io a[2] 38
# set_io a[3] 36
# set_io a[4] 46
# set_io a[5] 44
# set_io a[6] 42
# set_io a[7] 37

# set_io b[0] 48
# set_io b[1] 3
# set_io b[2] 6
# set_io b[3] 10
# set_io b[4] 47
# set_io b[5] 2
# set_io b[6] 4
# set_io b[7] 9

# set_io sum[0] 34
# set_io sum[1] 31
# set_io sum[2] 27
# set_io sum[3] 25
# set_io sum[4] 32
# set_io sum[5] 28
# set_io sum[6] 26
# set_io sum[7] 23

# set_io carry 21
# set_io lt_unsigned 20
# set_io lt_signed 19
# set_io signed_overflow 18